@model BandAidMySql.Models.PomocneKlase.LogUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <title>BandAid</title>
    <!--#region Styles  -->

    <link href="~/LoginRegPage/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/LoginRegPage/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/LoginRegPage/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/LoginRegPage/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link href="~/LoginRegPage/css/main.css" rel="stylesheet" media="all">
    <link href="~/LandingPage/css/style.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/LandingPage/css/aos.css">
    <link rel="stylesheet" href="~/LandingPage/css/style.css">
    <!--#endregion -->
</head>
<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Prijava</h2>
                    <form role="form" asp-action="Login" asp-controller="User" method="post">

                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="Email">

                        </div>
                        <span asp-validation-for="Email" class="alert-danger"></span>

                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Zaporka" name="PassHash">

                        </div>
                        <span asp-validation-for="PassHash" class="alert-danger"></span>

                        <div class="p-t-10">
                            <button class="btn btn-primary py-3 px-5 text-white" type="submit">Prijava</button>
                        </div>

                        <div class="p-t-10">
                            <button class="btn-xs" asp-controller="User" asp-action="Registration"> Registracija </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/LoginRegPage/vendor/jquery/jquery.min.js"></script>
    <script src="~/LoginRegPage/vendor/select2/select2.min.js"></script>
    <script src="~/LoginRegPage/js/global.js"></script>
</body>
</html>
