
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BandAid</title>
    <link href="~/AdminTemplate/css/theme.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="loader"></div>
</body>
</html>
